:root{
    /* colores */
    --color-menu:rgb(17, 20, 24);
    /* --color-menu-2:rgb(17, 20, 24); */
    --color-fondo-contenido-1:rgb(52, 58, 64);
    --color-fondo-2:#212529;
    --color-principal:#1A1A1A;
    --color-secundario:#2D2D2D;
    --color-fuente-principal:#FFFFFF;
    --color-fuente-2:#d4b052;
    --color-fuente-2-hover:#806931;
    --color-fuente-3:rgba(255,255,255,.5);
    --color-fonfo-footer: #212529;
}

*{
    color: var(--color-fuente-principal);
    box-sizing: border-box;
    /* border: 1px solid aqua; */
}

.console-log{
    border: 1px solid aqua;
}

html,body{
    margin: 0;
    padding: 0;
}

.box-test{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.contenedor{
    max-width: 1024px;
}

/* fuentes  */

@font-face {
    font-family: 'roboto-regular';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto-bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf);
}


