*{
    box-sizing: border-box;
}

:root{
    --bg-pagina:#1A1A1A;
    --color-fuente-principal:#FFFFFF;
}

html,body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-pagina);
    color: var(--color-fuente-principal);
}