.menu{
    background-color: var(--color-menu);
    height: 100vh;
    position: fixed;
}
.contenedor-contenido{
    background-color: var(--color-fono-contenido-1);
    min-height: 100vh;
}

.contendor-menu-mobile{
    display: none;
    height: 100%;
}

.contendor-menu-desktop{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-img-avatar{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--color-fono-contenido-1);
    margin-left: auto;
    margin-right: auto;
}

.imagen-avatar{
    display: block;
    width: 100%;
    height: 100%;
}

.menu-desktop{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.titulo-nombre-propietario{
    color:  white !important;
}

.menu-desktop a{
    color: #d4b052;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px 10px 30px;
}

.barrita-item-menu{
    background-color: #d4b052;
    width: 0%;
    height: 5px !important;
    border-radius: 10px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    transition: width .2s ease-out;

}

.menu-desktop a:hover .barrita-item-menu {
    width: 100%;
}

.icon-menu-footer-rede{
    width: 25px;
    height: 25px;
}

.seccion-inicio{
    background-image: url(../images/wallpapper/wallpaper_2.webp);
    background-size:100% 100%;
    background-repeat:no-repeat;
    position: relative;
    z-index: 1;
}

.seccion-inicio::after{
	content:'';
    z-index: -1;
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.seccion-inicio{
    height: 100vh;
}

.boton-contratame{
    margin-bottom:50px;
}

.contenedor-inicio-icon-arrow-circle{

    animation: AnimacionContenedorIconArrowCircle;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}

.inicio-icon-arrow-circle{
    width: 50px;
    height: 50px;
    /* margin-bottom: 15px; */
}

.icon-menu-mobile{
    width: 40px;
    height: 40px;
}

.seccion-footer{
    background: var(--color-fonfo-footer);
    width: 100%;
    min-height:100px;
}
/* medias */
@media screen and (max-width: 991px) {
    .menu{
        height: 10vh;
        position: static;
    }
    .contenedor-contenido{
        min-height: 90vh;
    }
    .contendor-menu-desktop{
        display: none;
    }
    .contendor-menu-mobile{
        display: flex;
    }

    .seccion-inicio{
        height: 90vh;
    }

    .seccion-inicio{
        background-image: url(../images/wallpapper/wallpaper_6.png);
        background-size:290% 150%;
        background-position: 50% 100%;
        background-repeat:no-repeat;
        position: relative;
        z-index: 1;
    }
}

/* animation */
/* animate */
@keyframes AnimacionContenedorIconArrowCircle {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(25%);
    }
}