.menu{
    background-color: var(--color-menu);
    min-height: 100vh;
    position: fixed;
}
.contenedor-contenido{
    background-color: var(--color-fondo-contenido-1);
    min-height: 100vh;
}

.contendor-menu-movil{
    display: none;
}

.contendor-menu-desktop{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contenedor-img-avatar{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid var(--color-fondo-contenido-1);
    margin-left: auto;
    margin-right: auto;
}

.imagen-avatar{
    display: block;
    width: 100%;
    height: 100%;
}

.menu-desktop{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.titulo-nombre-propietario{
    color:  white !important;
}

.menu-desktop a{
    color: #d4b052;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px 10px 30px;
}

.barrita-item-menu{
    background-color: #d4b052;
    width: 100%;
    height: 5px !important;
    border-radius: 10px;
    margin: 0;
    transition: transform .2s ease-out,opacity .2s ease-out;
    transform:scale(0.5);
    opacity: 0;
}

.menu-desktop a:hover .barrita-item-menu {
    opacity: 1;
    transform:scale(1);
}

.icon-menu-footer-rede{
    width: 25px;
    height: 25px;
}

.contendor-items-menu-movil{
    background-color: var(--color-menu);
    width: 100%;
    height: 0px;
    overflow: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    transform:translateY(100%);
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    transition: height .5s ease-out;
}

.mostrar-contendor-items-menu-movil{
    height: 300px;
}

.contendor-items-menu-movil ul{
    margin: 0;
    padding:0;
}

.contendor-items-menu-movil ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    /* padding-left: 10px; */
}

.contendor-items-menu-movil ul a{
    text-decoration: none;
    padding: 10px;
    display: block;
    /* margin: 1px; */
    color: #d4b052;
}

.contendor-items-menu-movil ul a:hover{
  background-color: #5a5a5a;
}

.icon-menu-movil{
    width: 40px;
    height: 40px;
}

.seccion-inicio{
    min-height: 100vh;
    background-image: url(../images/wallpapper/wallpaper_2.webp);
    background-size:100% 100%;
    background-repeat:no-repeat;
    position: relative;
    z-index: 1;
}

.seccion-inicio::after{
	content:'';
    z-index: -1;
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.boton-contratame{
    margin-bottom:50px;
}

.contenedor-inicio-icon-arrow-circle{
    animation: AnimacionContenedorIconArrowCircle;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}

.inicio-icon-arrow-circle{
    width: 50px;
    height: 50px;
    /* margin-bottom: 15px; */
}

.seccion-sobre-mi{
    padding: 80px 50px 50px 50px;
    background-color: var(--color-fondo-2);
}

.titulo-seccion-sobre-mi{
    margin-bottom: 80px;
}

.propiedad-sobre-mi{
    font-family: roboto-bold;
}

.nombre-seccion-sobre-mi{
    color: var(--color-fuente-2);
}

.link-correo-sobre-mi{
    text-decoration: none;
    color: var(--color-fuente-2);
    transition: color .1s ease-out;
}

.link-correo-sobre-mi:hover{
    color: var(--color-fuente-2-hover);
}

.barrita-horizontal-datos-sobre-mi{
    height: 10px;
}

.seccion-footer{
    background: var(--color-fonfo-footer);
    width: 100%;
    min-height:100px;
}
/* medias */
@media screen and (max-width: 991px) {
    .menu{
        min-height: 80px;
        z-index: 100;
    }
    .contendor-menu-desktop{
        display: none;
    }
    .contendor-menu-movil{
        display: flex;
        height: 80px;
    }

    .seccion-inicio{
        min-height: 600px;
        background-image: url(../images/wallpapper/wallpaper_6.png);
        background-size:150% 150%;
        background-position: 50% 100%;
        background-repeat:no-repeat;
        position: relative;
        z-index: 1;
    }
}

/* animate */
@keyframes AnimacionContenedorIconArrowCircle {
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(25%);
    }
}